@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Merriweather';
	src: url('~assets/fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
